.logo_header{
    width: 100px;
    height: 100px;
}

.boton_menu{
    border: 0px solid white!important;
}



    @media(max-width: 768px){
        .logo_header{
            width: 70px;
            height: 70px;
        }
    }
.cesta_header{
    width: 100px;
    height: 100px;
    padding: 24px;
}

.cesta_menu_desplegable{
    width: 40px;
    height: 40px;
}




